
<mat-toolbar style="color:rgb(229, 229, 243);background-color: rgb(61, 61, 236);">

    <mat-icon>home</mat-icon>
    <span><a mat-button routerLink="/home">Home</a></span>
       
    <mat-icon></mat-icon>
    <mat-icon>dashboard</mat-icon>
    <a mat-button routerLink="/register">Register</a>
    <mat-icon></mat-icon>
    <mat-icon>label</mat-icon>
    <mat-icon></mat-icon>
    <a mat-button routerLink="/login">Login</a>
    
    </mat-toolbar>   
    <marquee>WELCOME TO HOME PAGE</marquee>

