head{
  background-color: rgb(197, 231, 245);
  height:100%;

}


body{
  background-color: rgb(197, 231, 245);
  height:100%;

}

.container {
    display: flex;
    justify-content: center;
    margin: 0px;
    min-width: 350px;
    .register {
      margin-bottom: 20px;
      margin-top: 100px;
    }
  
    mat-card {
      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          mat-form-field {
            width: 100%;
            min-width: 300px;
          }
  
          .button {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  
  }